body {
  margin: 0;
  font-family: sans-serif;
}

#container {
  background: rgba(220, 135, 130, 0.76);
}

.navbar{
position: sticky;
height: 72px;
top: 0px;
background: #F3F3F3;
box-shadow: 0px 2px 6px #DADEDE;
display: flex;
justify-content: space-between;
align-items: center;
}

.nav-logo{
  font-size: 64px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin-left: 150px;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 400px;
  justify-content: space-around;
  font-family: 'Poppins', sans-serif;
  margin-right: 150px;
}

.content {
  margin: 0 10%;
}

.intro{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro-left {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.intro-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-size: 52px;
  font-weight: bold;
}

.intro-blurb {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  font-weight: 100;
}

.intro-right {
  width: 40%;
}
.intro-img-div {
  width: 400px;
  height: 400px;
  margin-top: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.intro-img {
  width: 400px;
}

.social {
  display: flex;
}

.title {
  font-family: "Roboto Condensed";
  font-size: 36px;
}
.aboutme-blurb {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: 100;
}

.aboutme-images {
  display: flex;
  justify-content: space-around;
}

.aboutme-img {
  width: 350px;
}
